<h2>Industries</h2>
<ul>
  <% @industries.each do |industry| %>
    <li>
      <%= link_to industry.name, industry_path(industry) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Industry", new_industry_path %>
